<div>
    {% for route in path.routes %}
        <div style="font-family: 'Montserrat', sans-serif; display: flex; align-items: center; margin-bottom: 20px;">
            <div style="border-radius: 50%; background-color: #35d2d2; width: 30px; height: 30px; display: flex; justify-content: center; align-items: center; margin-right: 40px; font-family: 'Montserrat', sans-serif; font-weight: 400; color: #f6fbf9;">{{ forloop.counter }}</div>
            <div class="step-wrapper">
                <div style="font-weight: 700; margin-bottom: 10px;">{{ route.source.name }}</div>
                <div style="display: flex; justify-content: flex-start; align-items: center; font-family: 'Montserrat', sans-serif; font-weight: 400;">
                    <div style="margin-bottom: 5px; margin-right: 10px; ">
                        {% if route.type == 'TRUCK' %}
                            <img style="width: 40px;" src="cid:truck.jpg" alt="truck"/>
                        {% elif route.type == 'AIR' %}
                            <img style="width: 40px;" src="cid:airplane.jpg" alt="airplane"/>
                        {% elif route.type == 'TRAIN' %}
                            <img style="width: 40px;" src="cid:train.jpg" alt="train"/>
                        {% elif route.type == 'SEA' %}
                            <img style="width: 40px;" src="cid:ship.jpg" alt="ship"/>
                        {% endif %}
                    </div>
                    <div style=" color: black; opacity: 0.4; font-size: 14px; margin-right: 10px;">{{ route.distance }}
                        км
                    </div>
                </div>
                <div style=" font-weight: 700; margin-bottom: 5px;">{{ route.destination.name }}</div>
            </div>
        </div>
    {% endfor %}
    <div style="background-color: #f6fbf9;border-radius: 20px; width: 1000px; padding: 40px 30px; display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 30px; font-family: 'Montserrat', sans-serif;">
        <div style="font-weight: 600; font-size: 18px;">Итого:</div>
        <div>Расстояние: {{ path.total_distance|floatformat:0 }} км</div>
        <br>
        <div>Цена: {{ path.total_cost|floatformat:2 }}€</div>
        <br>
        <div>Время в пути: {{ path.total_duration.min|floatformat:0 }} - {{ path.total_duration.max|floatformat:0 }} дней</div>
        <br>
        <div>Вес: {{ good.total_mass|floatformat:2 }}кг</div>
        <br>
        <div>Объем: {{ good.total_volume|floatformat:2 }} м³</div>
    </div>
</div>