<div style="
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: 'Roboto Light', sans-serif;">
    <div style="
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 20px;">
        Ваш заказ успешно создан!
    </div>
    <div style="
        font-weight: 500;
        opacity: .7;
        font-size: 18px;
        margin-bottom: 15px;">
        Информация о маршруте
    </div>
    <div style="
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-bottom: 20px;">
        {% for route in path.routes %}
            <div style="
            display: flex;
            align-items: center;
            margin-right: 20px;">
                <div style="
                font-weight: 500;
                margin-right: 10px;">{{ forloop.counter }}</div>
                <div style="
                display: flex;
                justify-content: flex-start;
                flex-direction: column;">
                    <div style="
                    font-weight: 700;
                    font-size: 20px;
                    margin-bottom: 5px;">{% firstof route.source.alias_ru route.source.alias_en route.source.name %}</div>
                    <div style="
                    margin-bottom: 5px;
                    opacity: .7;
                    font-size: 12px;">
                        {% if route.type == 'AIR' %}
                            Авиахрафт
                        {% elif route.type == 'TRUCK' %}
                            {% if route.is_hub %}
                                Автомобильная перевозка
                            {% elif forloop.counter == 1 %}
                                От двери
                            {% else %}
                                До двери
                            {% endif %}
                        {% elif route.type == 'TRAIN' %}
                            Железнодорожная перевозка
                        {% elif route.type == 'SEA' %}
                            Морская перевозка
                        {% else %}
                            -
                        {% endif %}
                    </div>
                    <div style="
                    font-weight: 700;
                    font-size: 20px;
                    margin-bottom: 5px;">{% firstof route.destination.alias_ru route.destination.alias_en route.destination.name %}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="
        font-weight: 500;
        opacity: .7;
        font-size: 18px;
        margin-bottom: 15px;">
        Информация о грузе
    </div>
    <div style="
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        font-size: 14px;
        margin-bottom: 20px;">
        <div style="
            display: flex;
            flex-direction: row;
            margin-right: 10px;">
            <div>Расстояние:</div>
            <div style="margin-left: 5px;">1000км</div>
        </div>
        <div style="
            display: flex;
            flex-direction: row;
            margin-right: 10px;">
            <div>Объем:</div>
            <div style="margin-left: 5px;">{{ good.total_volume }} м^3</div>
        </div>
        <div style="
            display: flex;
            flex-direction: row;
            margin-right: 10px;">
            <div>Вес:</div>
            <div style="margin-left: 5px;">{{ good.total_mass }} кг</div>
        </div>
        <div style="
            display: flex;
            flex-direction: row;
            margin-right: 10px;">
            <div>Цена:</div>
            <div style="margin-left: 5px;">{{ path.total_cost }} €</div>
        </div>
        <div style="
            display: flex;
            flex-direction: row;
            margin-right: 10px;">
            <div>Время в пути:</div>
            <div style="margin-left: 5px;">{{ path.total_duration.min }}-{{ path.total_duration.max }} дней</div>
        </div>
    </div>
    <div style="
        font-size: 14px;
        opacity: .7;
        margin-bottom: 5px;">
        Связаться с нами по всем возникшим вопросам можно по почте:
    </div>

    <div style="
        font-size: 14px;
        opacity: .7;
        margin-bottom: 5px;">
        request@formatlogistic.ru
    </div>
</div>